
@{
    ViewBag.Title = "Protokoll är skapade";
}

<h2>Protokoll är skapade</h2>
<div class="jumbotron">
    <h1>Skapa excel för resultatprogram</h1>
    <p>@Html.ActionLink("Skapa nu", "CreatePreResultInformationExcel", "Home")</p>
</div>

